@font-face {
  font-family: Spline Sans, sans-serif;
  src: url("/assets/fonts/SplineSans-VariableFont.ttf");
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Spline Sans', sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.3;
  color: #473D52;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  background: #EAE4F0;
}

header {
  position: relative;
  background-color: #C196EE;
}

html {
  height: 100%;
}

main {
  background-color: #EAE4F0;
}

footer {
  background-color: #C196EE;
  flex: 0 0 auto;
 }
 
 .container > div {
  flex: 1;
  font-size: 1vw;
  padding: .5em;
}

p {
  font-size: 16px;
  font-weight: normal;
  margin: 5px 0;
  padding: 0px;
}

h1 {
  font-size: 58px;
  font-weight: 800;
  color: #FFFFFF;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #473D52;
}

h3 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
}

h4 {
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
  color: #473D52;
  margin: 13px 0 5px 0;
  padding: 0px;
}

nav {
  border-bottom: 3px dotted #2E4053;
}
.nav-item {
  list-style-type: none;
  font-size: 17px;
  color: #48444C;
}

img {
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  display: block;
  width: 12%;
  position: fixed;
  top: 20px;
  right: 150px;
}

.footerimage {
  position: sticky;
  display: block;
  width: 7%;
  border: 1px solid #FFFFFF;
}
